.localisation--box {
    @include blocsetting;
    text-align: center;
    align-items: center;
}

#localisation {
    font-size: 20px;
}

#localisation {
    @include blocsetting;
    flex-direction: row;
    background-color: $background-dark-color;
    border-top: 3px solid $dark
}

#quote {
    padding: $padding-vert;
    background-color: $background-color;
}

h2, p, a, i{
    text-align: center;
    padding: $soft;
}

#quote a p {
    @include button;
}

.container {
    @include blocsetting;
    padding: $padding-vert;
    h2 {
        text-align: start;
        padding: 0 0 1.5rem 0;
    }
}

.tile {
    @include tile;
    @include box-shadow;
    .tile-text {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }
}

.tile i {
    color: grey;
}

.tile .number {
    display: flex;
    border-radius: 10rem;
    padding: 1px;
    background-color: $primary-color;
    margin-left: -3%;
}

.tile .number p {
    display: flex;
    font-size: 1rem;
    height: .5rem;
    width: .5rem;
    align-items: center;
    color: white;
}

#food {
    background-color: $background-color;
    h2 {
        text-align: start;
        padding: 0 0 1.5rem 0;
    }
}

.thumbnail {
    @include thumbnail;
}

.img { 
    @include imgRestaurant;
}
.img__one {
    background-image: url(../img/restaurants/1jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}
.img__two {
    background-image: url(../img/restaurants/2stil-u2Lp8tXIcjw-unsplash.jpg);
}
.img__three {
    background-image: url(../img/restaurants/3toa-heftiba-DQKerTsQwi0-unsplash.jpg)
}
.img__four {
    background-image: url(../img/restaurants/4louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

.img p {
    @include new;
}

.thumbnail__description {
    @include thumbnail__description;
        p {
            padding: 0;
        }
}
        


    