.localisation--box {
    @include blocsetting;
    text-align: center;
    align-items: center;
}

#localisation {
    font-size: 20px;
}

#localisation {
    @include blocsetting;
    flex-direction: row;
    background-color: $background-dark-color;
    border-top: 3px solid $dark;
    & p {
        font-size: 1.2rem;
        font-weight: 500;
    }
}

#quote {
    padding: $padding-vert;
    background-color: $background-color;
    h2 {
        text-align: center;
        padding: $soft;
    }
}
.button p {
    font-size: 1.2rem;
    font-weight: 500;
}
p, a, i{
    text-align: center;
    padding: $soft;
}

#quote a p {
    @include button;
}

.container {
    @include blocsetting;
    padding: $padding-vert;
    h2 {
        text-align: start;
        padding: 0 0 1.5rem 1rem;
    }
}

.tile {
    @include tile;
    @include box-shadow;
    .tile-text {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }
}

.tile i {
    color: grey;
    margin-left: 3%;
    font-size: 1.2rem;
}

.tile .number {
    display: flex;
    border-radius: 10rem;
    padding: 1px;
    font-size: 1rem;
    background-color: $primary-color;
    margin-left: -3%;
    span {
        display: flex;
        height: .5rem;
        width: .5rem;
        align-items: center;
        color: white;
        padding: $soft;
    }
}

#food {
    background-color: $background-color;
}

.thumbnail {
    @include thumbnail;
}

.img { 
    @include imgRestaurant;
}
.img__one {
    background-image: url(../img/restaurants/1jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}
.img__two {
    background-image: url(../img/restaurants/2stil-u2Lp8tXIcjw-unsplash.jpg);
}
.img__three {
    background-image: url(../img/restaurants/3toa-heftiba-DQKerTsQwi0-unsplash.jpg)
}
.img__four {
    background-image: url(../img/restaurants/4louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

.img p {
    @include new;
}

.thumbnail__description {
    @include thumbnail__description;
        p {
            padding: 0;
        }
}

@media screen and (min-width: 767px) {
    .container {
        & h2 {
            text-align: center;
        }
    }
}      


    