.background__img--lapalette {
    background-image: url(../img/restaurants/1jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    background-size: cover;
}
.titre {
    display: flex;
    flex-direction: row;
}

.bigTile a p{
    @include button;
}
.bigTile {
    margin-top: -30px;
    background-color: $background-color;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    h2 {
        font-family: "Shrikhand";
        font-style: italic;
        justify-content: center;
    }
}

.menuTile {
    display: flex;
    margin: .5rem auto;
    flex-direction: row;
    height: 5rem;
    justify-content: center;
    background-color: white;
    align-items: center;
    width: 80%;
    border-radius: 1.5rem;
    color: black;
}